.blogs__page > div > *:not(:last-child) {
  margin-bottom: 50px;
}

/* ================> HERO <================ */

.hero {
  padding: 50px 0;
}

.hero__title,
.hero__text {
  text-align: center;
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
}

.hero__text {
  display: block;
  margin: 0 auto;

  max-width: 840px;
  font-size: 16px;
  margin-bottom: 30px;
}

.hero__button {
  display: block;

  text-transform: uppercase;
  background-color: var(--red-color);
  padding: 17px 70px;
  border-radius: 8px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 auto;

  font-size: 16px;

  transition: all 0.2s linear;

  cursor: pointer;
}

.hero__button:hover {
  box-shadow: 0px 0px 8px 2px var(--red-color);
}

@media (min-width: 768px) {
  .hero {
    padding: 80px 0;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 120px 0;
  }
}

/* ================> EVENTS <================ */

.events__title {
  text-transform: uppercase;
  margin-bottom: 15px;
}
