* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "JetBrains Mono";
  --reserve-font: "worksans";

  --heading-1: 28px;
  --heading-2: 24px;
  --heading-3: 20px;

  --body-text: 16px;

  /* Colors */
  --background-color: #111111;
  --coal-black-color: #1e1e1e;
  --red-color: #d31422;
  --gray-color: #c0c0c0;
  --white-color: #ffffff;
}

@media (min-width: 425px) {
  :root {
    --heading-1: 40px;
    --heading-2: 36px;
    --heading-3: 32px;

    --body-text: 20px;
  }
}

a {
  text-decoration: none;
  color: var(--white-color);
}

ul,
ol {
  list-style: none;
}

button {
  font-family: var(--main-font);
  border: none;
}

h1 {
  font-size: var(--heading-1);
}

h2 {
  font-size: var(--heading-2);
}

h3 {
  font-size: var(--heading-3);
}

body {
  font-family: var(--main-font);
  font-size: var(--body-text);
  font-weight: 400;

  color: var(--white-color);
  background-color: var(--background-color);
}

/* ====================> Main Classes <==================== */

.wrapper {
  padding-bottom: 40px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 25px;
  }
  .wrapper {
    padding-bottom: 85px;
  }
}

/* ====================> Header <==================== */
.header {
  padding: 10px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 2px;
}

.header__logo > img {
  width: 32px;
  height: 32px;
}

.header__logo > span {
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--heading-2);
}

.header__menu {
  display: none;
}

.header__lang {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 3px 10px;
  background-color: var(--coal-black-color);
  border-radius: 24px;

  cursor: pointer;

  margin-left: auto;
}

.header__lang > #language {
  text-transform: uppercase;
}

.header__menu_button {
  position: relative;
  z-index: 2;

  padding: 13px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  background-color: #000;
  border-radius: 24px;

  cursor: pointer;

  margin-left: 15px;
}

.header__menu_button > div {
  width: 24px;
  height: 2px;
  background-color: #fff;
  border-radius: 9px;
}

@media (min-width: 1024px) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .header__menu {
    display: block;
  }

  .header__list {
    display: flex;
    gap: 50px;
  }
  .header__link {
    color: var(--gray-color);
  }
  .header__link._active {
    color: var(--white-color);
  }

  .header__logo > img {
    width: 45px;
    height: 45px;
  }

  .header__lang {
    margin-left: 0px;
  }

  .header__menu_button {
    display: none;
    margin-left: none;
  }
}
