* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "JetBrains Mono";
  --reserve-font: "Work Sans";

  --heading-1: 28px;
  --heading-2: 24px;
  --heading-3: 20px;

  --body-text: 16px;

  /* Colors */
  --background-color: #111111;
  --coal-black-color: #1e1e1e;
  --red-color: #d31422;
  --gray-color: #c0c0c0;
  --white-color: #ffffff;
}

@media (min-width: 376px) {
  :root {
    --heading-1: 40px;
    --heading-2: 36px;
    --heading-3: 32px;

    --body-text: 20px;
  }
}

a {
  text-decoration: none;
  color: var(--white-color);
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: var(--heading-1);
}

h2 {
  font-size: var(--heading-2);
}

h3 {
  font-size: var(--heading-3);
}

body {
  font-family: var(--main-font);
  font-size: var(--body-text);
  font-weight: 400;

  color: var(--white-color);
  background-color: var(--background-color);
}

/* ====================> Main Classes <==================== */

.wrapper {
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ====================> Header <==================== */
.header {
  padding: 10px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
}

.header__menu {
  display: none;
}

.header__lang {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 3px 10px;
  background-color: var(--coal-black-color);
  border-radius: 24px;

  cursor: pointer;
}

.header__lang > #language {
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .header__menu {
    display: block;
  }

  .header__list {
    display: flex;
    gap: 50px;
  }
  .header__link {
    color: var(--gray-color);
  }
  .header__link._active {
    color: var(--white-color);
  }
}
