* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "JetBrains Mono";
  --reserve-font: "IBM Plex Mono";

  --heading-1: 28px;
  --heading-2: 24px;
  --heading-3: 20px;
  --heading-4: 18px;

  --body-text: 14px;

  /* Colors */
  --background-color: #111111;
  --coal-black-color: #1e1e1e;
  --red-color: #d31422;
  --gray-color: #c0c0c0;
  --white-color: #ffffff;
}

@media (min-width: 768px) {
  :root {
    --heading-1: 38px;
    --heading-2: 32px;
    --heading-3: 24px;
    --heading-4: 20px;

    --body-text: 15px;
  }
}

a {
  text-decoration: none;
  color: var(--white-color);
}

ul,
ol {
  list-style: none;
}

button {
  font-family: var(--main-font);
  border: none;
  background: none;
  color: #fff;
}

h1,
h2,
h3 {
  letter-spacing: 1px;
}

p {
  letter-spacing: 1px;
}

h1 {
  font-size: var(--heading-1);
}

h2 {
  font-size: var(--heading-2);
}

h3 {
  font-size: var(--heading-3);
}

h4 {
  font-size: var(--heading-4);
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--main-font);
  font-size: var(--body-text);
  font-weight: 400;

  color: var(--white-color);
  background-color: var(--background-color);
}

body._lock {
  overflow: hidden;
}

main {
  /* padding-top: 50px; */
}

/* ====================> Main Classes <==================== */
.wrapper {
  padding-bottom: 20px;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.glass-icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.6),
    inset -1px -1px 4px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.01);
}

.glass-icon > img {
  width: 50%;
  height: 50%;
  fill: white;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.7));
}

.transition-mask {
  background-color: #000;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 5%,
    black 95%,
    transparent
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 5%,
    black 95%,
    transparent
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 0 25px;
  }
  .wrapper {
    padding-bottom: 60px;
  }
}

/* ====================> Pages <==================== */

/* body {
  background-color: #000;
} */

#home-page > *:not(:last-child) {
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  #home-page > *:not(:last-child) {
    margin-bottom: 100px;
  }
}

/* ====================> Header <==================== */
.header {
  padding: 10px 0;
  /* background-color: #000; */
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 2px;
}

.header__logo > img {
  width: 32px;
  height: 32px;
}

.header__logo > span {
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--heading-2);
}

.header__menu {
  display: none;
}

.header__menu._active {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;

  width: 100%;
  height: 100vh;
  background-color: #111111;
}

.header__menu._active > .header__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__menu._active .header__link {
  font-size: 30px;
}

.header__link {
  position: relative;
  transition: color 0.3s ease;
}

.header__link::before,
.header__link::after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.header__link::before {
  color: white;
  z-index: -1;
}
.header__link::after {
  color: white;
  z-index: -2;
}

.header__link:hover {
  color: transparent;
}

.header__link._active:hover {
  color: transparent;
}

.header__link:hover::before,
.header__link:hover::after {
  opacity: 1;
  animation: glitch 0.8s linear;
}

@keyframes glitch {
  0% {
    transform: translate(0, 0);
    clip-path: inset(0 0 0 0);
    text-shadow: 2px 0 red, -2px 0 cyan;
  }
  10% {
    transform: translate(-2px, -2px) skew(0.5deg);
    clip-path: inset(10% 0 85% 0);
    text-shadow: 2px 0 red, -2px 0 cyan;
  }
  20% {
    transform: translate(2px, 2px) skew(-0.3deg);
    clip-path: inset(80% 0 5% 0);
    text-shadow: 2px 0 red, -2px 0 cyan;
  }
  30% {
    transform: translate(-3px, -1px) scale(1.01);
    clip-path: inset(40% 0 40% 0);
    text-shadow: 2px 0 red, -2px 0 cyan;
  }
  40% {
    transform: translate(3px, 2px) skew(0.7deg);
    clip-path: inset(20% 0 45% 0);
    text-shadow: 2px 0 red, -2px 0 cyan;
  }
  50% {
    transform: translate(-1px, -2px);
    clip-path: inset(40% 0 20% 0);
    text-shadow: 2px 0 red, -2px 0 cyan;
  }
  60% {
    transform: translate(2px, -1px) scale(0.9);
    clip-path: inset(15% 0 70% 0);
    text-shadow: 2px 0 red, -2px 0 cyan;
  }
  70% {
    transform: translate(-2px, 3px) skew(-0.4deg);
    clip-path: inset(70% 0 15% 0);
    text-shadow: 2px 0 red, -2px 0 cyan;
  }
  80% {
    transform: translate(3px, -1px);
    clip-path: inset(25% 0 60% 0);
    text-shadow: 2px 0 red, -2px 0 cyan;
  }
  90% {
    transform: translate(-1px, 1px) scale(1.02);
    clip-path: inset(5% 0 90% 0);
    text-shadow: 2px 0 red, -2px 0 cyan;
  }
  100% {
    transform: translate(0, 0);
    clip-path: inset(0 0 0 0);
    text-shadow: 2px 0 red, -2px 0 cyan;
  }
}

.header__lang {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 3px 10px;
  background-color: var(--coal-black-color);
  border-radius: 24px;

  cursor: pointer;

  margin-left: auto;
}

.header__lang > #language {
  text-transform: uppercase;
}

.header__menu_button {
  position: relative;
  z-index: 6;

  padding: 13px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  background-color: #000;
  border-radius: 24px;

  cursor: pointer;

  margin-left: 15px;
}

.header__menu_button > div {
  width: 24px;
  height: 2px;
  background-color: #fff;
  border-radius: 9px;
  transition: all 0.3s ease;
}

.header__menu_button._active > div:nth-child(1) {
  transform: rotate(45deg) translate(4px, 5px);
}

.header__menu_button._active > div:nth-child(2) {
  opacity: 0;
}

.header__menu_button._active > div:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -5px);
}

@media (min-width: 1024px) {
  .header {
    padding: 25px 0;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .header__menu {
    display: block;
  }

  .header__list {
    display: flex;
    gap: 50px;
  }
  .header__link {
    color: var(--gray-color);
  }
  .header__link._active {
    color: var(--white-color);
  }

  .header__logo > img {
    width: 45px;
    height: 45px;
  }

  .header__lang {
    margin-left: 0px;
  }

  .header__menu_button {
    display: none;
    margin-left: none;
  }
}

/* ====================> Footer <==================== */
.footer {
  margin-top: 80px;
}

.footer__top {
  padding-bottom: 20px;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  font-weight: 700;
  font-size: 20px;

  margin-bottom: 25px;
}

.footer__logo > img {
  width: 45px;
  height: 45px;
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.footer__list > *:not(:last-child) {
  margin-bottom: 5px;
}

.footer__list > h4 {
  color: #585858;
}

.footer__link {
  font-size: 14px;
}

.footer__bottom {
  padding-top: 20px;
  border-top: 2px solid #585858;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer__bottom > * {
  font-size: 14px;
}

.footer__socials {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (min-width: 768px) {
  .footer__menu {
    justify-items: center;
  }
}

@media (min-width: 1024px) {
  .footer {
    margin-top: 120px;
  }
  .footer__top {
    display: flex;
    align-items: start;
    gap: 50px;
  }
  .footer__menu {
    margin-left: auto;
    grid-template-columns: repeat(5, 1fr);
    justify-items: end;
    gap: 50px;
  }

  .footer__bottom {
    flex-direction: row;
  }
  .footer__telephone {
    display: inline-block;
    margin-left: auto;
  }
  .footer__email {
    margin-left: 70px;
  }
  .footer__socials {
    margin-left: 70px;
  }
}
