.input {
  width: 100%;
  padding: 20px 0 20px 20px;
  background-color: var(--coal-black-color);
  border-radius: 8px;
  border: none;
  color: #fff;
}

.input::placeholder {
  letter-spacing: 1px;
}

.input:focus {
  outline: 1px solid var(--gray-color);
  /* border: 1px solid var(--gray-color); */
}
