/* =================> Hero <================= */
.hero__title {
  text-transform: uppercase;
}

.hero__text {
  margin-top: 20px;
  font-family: var(--reserve-font);
}

.hero__button {
  margin-top: 20px;
  text-transform: uppercase;
  background-color: var(--red-color);
  padding: 17px 38px;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;

  cursor: pointer;
}

.hero__globus {
  display: block;
  padding-top: 20px;
  margin: 0 auto;
}

.hero__globus_big {
  display: none;
}

@media (min-width: 768px) {
  .hero__globus {
    display: none;
  }

  .hero__globus_big {
    display: inline-block;
    max-width: 100%;
  }

  .hero__content {
    max-width: none;
    text-align: center;
  }
  .hero__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1265px) {
  .hero__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero__content {
    text-align: left;
    max-width: 600px;
  }

  .hero__globus_big {
    transform: translate(30px, 0);
  }
}

/* =================> Advantages <================= */

.advantages__title {
  width: min-content;
  margin: 0 auto;
  text-align: center;
}

.advantages__items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.advantages__item {
  position: relative;
  padding: 25px;
  border-radius: 8px;
  background-color: var(--coal-black-color);
}

.advantages__item:nth-child(odd) {
  display: none;
}

.advantages__item::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  z-index: -1;

  transform: translate(-80%, 0);

  display: inline-block;
  width: 7px;
  height: 80px;
  background-color: var(--red-color);
  filter: blur(2px);
}

.advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}

.advantages__item_text {
  font-family: var(--reserve-font);
}

@media (min-width: 1024px) {
  .advantages__item:nth-child(odd) {
    display: block;
  }

  .advantages__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .advantages__items {
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages__item {
    padding: 35px 35px 60px 35px;
  }
}

/* ===============> Courses <=============== */

.courses__items {
  margin-top: 35px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.courses__title,
.courses__subtitle {
  text-align: center;
}

.courses__link {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses__items > *:nth-child(2) {
  border: 3px solid var(--red-color);
}

@media (min-width: 1024px) {
  .courses__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .courses__items {
    grid-template-columns: repeat(3, 1fr);
  }

  .courses__items > *:nth-child(2) {
    border: 3px solid var(--red-color);
    transform: scale(1.05);
  }
  .courses__link {
    margin-top: 40px;
  }
}

/* ===============> Reviews <=============== */

.reviews__title {
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 1440px) {
  .reviews {
    margin-top: 100px;
  }
  .reviews__title {
    margin-bottom: 70px;
  }
}
