.news__wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.news {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.recent__news {
  display: none;
}

@media (min-width: 1024px) {
  .news__wrapper {
    justify-content: space-between;
  }
  .recent__news {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: auto;
  }
}
