.wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;

  inset: 0;
  background: linear-gradient(120deg, rgb(15, 70, 70), #0a0f14, #f0f, #0a0f14);
  background-size: 300% 300%;
  box-shadow: 0 0 25px rgba(0, 255, 200, 0.15);

  animation: flicker 2s infinite;
}

@media (min-width: 768px) {
  .wrapper {
    height: 600px;
  }
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 0.45;
  }
  20%,
  24%,
  55% {
    opacity: 0.65;
  }
}
