.courses__item {
  max-width: 414px;
}

.courses__item:hover {
  box-shadow: 0 0 10px #da0000;
  border-radius: 0 0 170px 0;
}

.courses__inner {
  width: 100%;
  height: 100%;
  padding: 25px 20px 40px;
  background: #1e1e1e;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 100px),
    calc(100% - 100px) 100%,
    0 100%
  );
  border: 2px solid transparent;
  transition: border 0.3s;
  position: relative;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

.courses__inner::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.5s;
}

.courses__inner::after {
  content: "";
  width: 2px;
  height: 142px;
  position: absolute;
  bottom: -2px;
  left: calc(100% - 100px);
  transform: rotate(45deg);
  transform-origin: bottom center;
  transition: background-color 0.3s;
}

.courses__inner:hover {
  border: 2px solid #da0000;
  background: #131313;
  box-shadow: 0 0 10px #da0000;
}

.courses__inner:hover:before {
  background: linear-gradient(135deg, transparent 50%, #da0000 100%);
  transform: scale(1);
}

.courses__inner:hover:after {
  background-color: #da0000;
  box-shadow: 0 0 10px #da0000;
}

.courses__item__img {
  margin-bottom: 25px;
}

.courses__item__badge {
  display: inline-block;
  margin-bottom: 10px;
}

.courses__item__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;

  max-width: 350px;

  /* white-space: nowrap; */
}

.courses__item__duration {
  display: inline-block;
  margin-bottom: 30px;
}

.courses__item__desc {
  margin-bottom: 40px;
  font-family: var(--reserve-font);
  font-size: var(--body-text);
  flex: 1;
}

.courses__item__link {
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 425px) {
  .courses__item__title {
    font-size: 36px;
    font-weight: 700;
  }
  .courses__item__img {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .courses__inner {
    padding: 25px 25px 40px 25px;
  }
}

@media (min-width: 1024px) {
  .courses__item__title {
    font-size: 28px;
  }
}

@media (min-width: 1440px) {
  .courses__item__title {
    font-size: 30px;
  }
}
