.courses__item {
  background: var(--coal-black-color);
  padding: 15px 10px 30px 17px;
  border-radius: 5px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 100px),
    calc(100% - 100px) 100%,
    0 100%
  );
  border: 2px solid transparent;
  transition: border 0.3s;
  position: relative;

  display: flex;
  flex-direction: column;
}

.courses__item::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  z-index: -1;

  width: 414px;
  height: 414px;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.5s;
}

.courses__item::after {
  content: "";
  width: 2px;
  height: 142px;
  position: absolute;
  bottom: -2px;
  left: calc(100% - 100px);
  transform: rotate(45deg);
  transform-origin: bottom center;
  transition: background-color 0.3s;
}

.courses__item:hover {
  border: 2px solid #da0000;
}

.courses__item:hover:before {
  background: linear-gradient(135deg, transparent 50%, #da0000 100%);
  transform: scale(1);
}

.courses__item:hover:after {
  background-color: #da0000;
}

.courses__item:hover::after {
  border-left: 2px solid var(--red-color);
}

.courses__item__img {
  margin-bottom: 25px;
}

.courses__item__badge {
  display: inline-block;
  margin-bottom: 10px;
}

.courses__item__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;

  white-space: nowrap;
}

.courses__item__duration {
  display: inline-block;
  margin-bottom: 30px;
}

.courses__item__desc {
  margin-bottom: 40px;
  font-family: var(--reserve-font);
  font-size: var(--body-text);
  flex: 1;
}

.courses__item__link {
  text-decoration: underline;
}

@media (min-width: 425px) {
  .courses__item__title {
    font-size: 36px;
    font-weight: 700;
  }
  .courses__item__img {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .courses__item {
    padding: 25px 25px 40px 25px;
  }
}

@media (min-width: 1024px) {
  .courses__item__title {
    font-size: 28px;
  }
}

@media (min-width: 1440px) {
  .courses__item__title {
    font-size: 30px;
  }
}
