.courses__item {
  position: relative;
  background: var(--coal-black-color);
  padding: 20px 22px 30px 22px;
  border-radius: 5px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 100%, 0 100%);
  border: 2px solid var(--coal-black-color);

  display: flex;
  flex-direction: column;

  transition: all 0.4s linear;
}

.courses__item:hover {
  background: linear-gradient(
    325.52deg,
    #da0000 -14.05%,
    var(--coal-black-color) 57%
  );
  border: 2px solid #da0000;
}

.courses__item__img {
  margin-bottom: 25px;
}

.courses__item__badge {
  display: inline-block;
  margin-bottom: 10px;
}

.courses__item__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
}

.courses__item__duration {
  display: inline-block;
  margin-bottom: 30px;
}

.courses__item__desc {
  margin-bottom: 40px;
  flex: 1;
}

.courses__item__link {
  text-decoration: underline;
}

@media (min-width: 425px) {
  .courses__item__title {
    font-size: 36px;
    font-weight: 700;
  }
  .courses__item__img {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .courses__item {
    padding: 25px 25px 40px 25px;
  }
}
