/* Colors */

.pink,
.green,
.red,
.blue,
.gray,
.cyan,
.white {
  transition: all 0.3s linear;
}

.pink {
  color: #ff4eb3;
}
.green {
  color: #00ff9f;
}
.red {
  color: #ff4444;
}
.blue {
  color: #4dc3ff;
}
.gray {
  color: #666;
}
.cyan {
  color: #00ffe5;
}

.white {
  color: #fff;
}

.wrapper:hover .pink {
  color: #ff4eb3;
  text-shadow: 0 0 5px #ff4eb3, 0 0 15px #ff1fa2;
}
.wrapper:hover .green {
  color: #00ff9f;
  text-shadow: 0 0 5px #00ff9f, 0 0 15px #00cc7a;
}
.wrapper:hover .red {
  color: #ff4444;
  text-shadow: 0 0 5px #ff4444, 0 0 15px #ff2222;
}
.wrapper:hover .blue {
  color: #4dc3ff;
  text-shadow: 0 0 5px #4dc3ff, 0 0 15px #009dff;
}
.wrapper:hover .cyan {
  color: #00ffe5;
  text-shadow: 0 0 5px #00ffe5, 0 0 15px #00cfc5;
}
.wrapper:hover .gray {
  color: #888;
  text-shadow: 0 0 5px #444;
}

/* Blocks */
.wrapper {
  position: relative;
  height: 600px;
  filter: blur(1.5px);

  transition: all 0.3s linear;
}

.wrapper:hover {
  filter: blur(0px);
}

.wrapper > div {
  height: 100%;
  position: relative;
}

.code__block {
  position: absolute;

  font-size: 12px;
  line-height: 1.6;
  white-space: pre; /* сохраняем переносы */
}

.wrapper > div > div:first-child {
  left: 30px;
  top: 70px;
}

.wrapper > div > div:last-child {
  display: none;
}

.code__block {
  color: #00ff9f;
}

.wrapper:hover .code__block {
  color: #00ff9f;
  text-shadow: 0 0 5px #00ff9f, 0 0 15px #00cc7a;
}

.img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .wrapper > div > div:last-child {
    display: block;
  }

  .code__block {
    position: absolute;

    font-size: 16px;
    line-height: 1.6;
    white-space: pre; /* сохраняем переносы */
  }
}

@media (min-width: 1024px) {
  .wrapper > div > div:first-child {
    left: 50px;
    top: 70px;
  }

  .wrapper > div > div:last-child {
    right: 50px;
    bottom: 70px;
  }
}

@media (min-width: 1440px) {
  .wrapper > div > div:first-child {
    left: 0px;
    top: 70px;
  }

  .wrapper > div > div:last-child {
    right: 0px;
    bottom: 70px;
  }
}
