/* Colors */

.pink,
.green,
.red,
.blue,
.gray,
.cyan,
.white {
  transition: all 0.3s linear;
}

.pink {
  color: #df3079;
}
.green {
  color: #048d6b;
}
.red {
  color: #ff0000;
}
.blue {
  color: #2b85bc;
}
.gray {
  color: #3d3d3d;
}
.cyan {
  color: #00ffe5;
}

.white {
  color: #fff;
}

/* .wrapper .pink {
  color: #ff4eb3;
  text-shadow: 0 0 1px #df3079, 0 0 1px #df3079;
}
.wrapper .green {
  color: #00ff9f;
  text-shadow: 0 0 1px #048d6b, 0 0 1px #048d6b;
}
.wrapper .red {
  color: #ff4444;
  text-shadow: 0 0 1px #ff0000, 0 0 1px #ff0000;
}
.wrapper .blue {
  color: #4dc3ff;
  text-shadow: 0 0 1px #2b85bc, 0 0 1px #2b85bc;
}
.wrapper .cyan {
  color: #00ffe5;
  text-shadow: 0 0 1px #00ffe5, 0 0 1px #00cfc5;
}
.wrapper .gray {
  color: #3d3d3d;
  text-shadow: 0 0 1px #3d3d3d;
} */

/* Blocks */
.wrapper {
  position: relative;
  height: 600px;

  transition: all 0.3s linear;
}

.wrapper:hover {
  filter: blur(0px);
}

.wrapper > div {
  height: 100%;
  position: relative;
}

.code__block {
  position: absolute;

  font-size: 14px;
  font-family: var(--reserve-font);
  line-height: 2;
  letter-spacing: 1px;
}

.code__block * {
  font-size: 14px;
}

.code__block > p {
  /* white-space: pre; */
}

.wrapper > div > div:first-child {
  left: 30px;
  top: 70px;
}

.wrapper > div > div:last-child {
  display: none;
}

.code__block {
  color: #00ff9f;
}

.code__block_white {
  color: #ffffff;
}

.code__inner,
.code__block_white {
  display: inline-block;
  width: fit-content;
}

.img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.caret {
  display: inline-block;
  width: 10px;
  height: 20px;
  background: rgba(255, 255, 255, 0.95);
  margin-left: 6px;
  border-radius: 2px;
  vertical-align: middle;
  animation: blink 1s steps(2, start) infinite;
  transform-origin: center;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .wrapper > div > div:last-child {
    display: block;
  }

  .code__block {
    position: absolute;

    font-size: 16px;
    line-height: 1.6;
    white-space: pre; /* сохраняем переносы */
  }
}

@media (min-width: 1024px) {
  .wrapper > div > div:first-child {
    left: 50px;
    top: 70px;
  }

  .wrapper > div > div:last-child {
    right: 50px;
    bottom: 70px;
  }
}

@media (min-width: 1440px) {
  .wrapper > div > div:first-child {
    left: 0px;
    top: 70px;
  }

  .wrapper > div > div:last-child {
    right: 0px;
    bottom: 70px;
  }
}
