.courses {
  margin-top: 30px;
  position: relative;
}

.courses__content {
  height: 450px;
}

.courses__wrapper {
  margin-top: 30px;
}

.courses__title,
.courses__text {
  text-align: center;
}

.courses__title {
  text-transform: uppercase;
}

.courses__text {
  margin-top: 20px;
  max-width: 650px;
  margin: 20px auto 0px;
  font-size: 16px;
  font-family: var(--reserve-font);
}

.courses__items {
  margin-top: 35px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.video__wrapper {
  height: 480px;
  position: absolute;
  left: 0;
  top: -30px;
  z-index: -1;

  overflow: hidden;

  width: 100%;

  background-color: #000;
}

.video {
  width: 100%;
  transform: translate(0%, calc(100% + 160px));
}

@media (min-width: 350px) {
  .video {
    transform: translate(0%, calc(100% + 130px));
  }
}

@media (min-width: 375px) {
  .video {
    transform: translate(0%, calc(100% + 110px));
  }
}

@media (min-width: 390px) {
  .video {
    transform: translate(0%, calc(100% + 100px));
  }
}

@media (min-width: 425px) {
  .courses,
  .courses__wrapper {
    margin-top: 50px;
  }

  .courses__content {
    height: 500px;
  }

  .video__wrapper {
    height: 550px;
  }

  .video {
    transform: translate(0%, calc(100% + 120px));
  }
}

@media (min-width: 768px) {
  .courses__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .courses__content {
    height: 600px;
  }
  .courses__items {
    grid-template-columns: repeat(3, 1fr);
  }
  .video__wrapper {
    top: -50px;
    height: 670px;
  }
  .video {
    position: absolute;
    left: 0;
    top: -50px;
    z-index: -1;

    width: 100%;
    height: 670px;
    transform: translate(0%, 35px);
  }
}
